:root {
	//// COLORS ////

	//Primary
	--color-primary-veryDark: #090b1a; // main background
	--color-primary-dark: #1b1938; // card background
	--color-primary-soft: #aa5cdb; // accent

	//Neutral
	--color-white: hsl(0, 0%, 100%); //main heading, stats
	--color-white-transparent: #ffffffbf; //main paragraph
	--color-white-transparent-secondary: #ffffff99; //stat headings

	//// FONTS ////
	--font-primary: 'Inter', sans-serif;
	--font-secondary: 'Lexend Deca', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%; // 1rem = 10px
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-primary);
}
